@{
    ViewData["Title"] = "Home Page";
}

 <div style="text-align:center">
        <h2>Aceoffix V7 Minimal Example</h2>
        <div>
        <a href="javascript:AceBrowser.openWindow('Word/Index',  'width=1150px;height=900px;');">Open Word File</a>
        </div>
    </div>
